<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.system.services</string>
	<key>PlexPluginClass</key>
	<string>System</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexURLServices</key>
	<dict>
		<key>4oD</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.channel4.com/programmes/.*/(4od(/?#|/player/)([0-9]{7})|episode-guide/series.*/episode.*)</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.4oD</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.channel4.com/programmes/black-books/4od#3110813</string>
				<string>http://www.channel4.com/programmes/black-books/4od/player/3110813</string>
				<string>http://www.channel4.com/programmes/black-books/episode-guide/series-1/episode-1</string>
			</array>
		</dict>
		<key>ABC</key>
		<dict>
			<key>URLPattern</key>
			<string>http://abc.go.com/watch/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.abc</string>
			<key>TestURLs</key>
			<array>
				<string>http://abc.go.com/watch/modern-family/SH559066/VD5599371/mother-tucker</string>
			</array>
		</dict>
		<key>ABCFamily</key>
		<dict>
			<key>URLPattern</key>
			<string>http://abcfamily.go.com/watch/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.abcfamily</string>
			<key>TestURLs</key>
			<array>
				<string>http://abcfamily.go.com/watch/make-it-break-it/SH5547473/VD55127766/what-lies-beneath</string>
			</array>
		</dict>
		<key>Adobe TV</key>
		<dict>
			<key>URLPattern</key>
			<string>http://tv.adobe.com/watch/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.adobetv</string>
			<key>TestURLs</key>
			<array>
				<string>http://tv.adobe.com/watch/adobe-beginner-classes-with-dennis-radeke/episode-1-intro-to-after-effects-soundbooth-and-adobe-premiere-pro/</string>
			</array>
		</dict>
		<key>Apple Movie Trailers</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*apple\.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.amt</string>
			<key>TestURLs</key>
			<array>
				<string>http://trailers.apple.com/trailers/wb/greenlantern</string>
				<string>http://trailers.apple.com/trailers/sony_pictures/priest</string>
			</array>
		</dict>
		<key>BBC iPlayer</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www\.bbc\.co\.uk/iplayer/episode/[^/$]{8}</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.iplayer</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.bbc.co.uk/iplayer/episode/b012m668/Top_Gear_Series_17_Episode_3/</string>
				<string>http://www.bbc.co.uk/iplayer/episode/b012g0gm/The_Apprentice_Series_7_The_Final_Five/</string>
			</array>
		</dict>
		<key>Blip.tv</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*blip\.tv/(((file|play)/([A-Za-z0-9]){7,11}(\.html)?)|([^/]+/.+\-([0-9]{7})))</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.blip</string>
			<key>TestURLs</key>
			<array>
				<string>http://blip.tv/file/5205726</string>
				<string>http://blip.tv/play/hp9ggrvEfAI</string>
				<string>http://blip.tv/moviesense/michael-madsen-interview-part-1-5255959</string>
			</array>
		</dict>
		<key>CBS</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*\.cbs\.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.cbs</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.cbs.com/classics/happy_days/video/?pid=OixgE7X9sBOoNl4xzBUaQadJmP1ehFns</string>
				<string>http://www.cbs.com/classics/macgyver/video/?pid=3aeNTd3RxmXTF9qQd4Z88RZh9BVcnxow</string>
			</array>
		</dict>
		<key>CNET</key>
		<dict>
			<key>URLPattern</key>
			<string>http://(cnettv|reviews).cnet.com/.*/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.cnettv</string>
			<key>TestURLs</key>
			<array>
				<string>http://cnettv.cnet.com/kodak-playfull/9742-1_53-50104479.html</string>
				<string>http://cnettv.cnet.com/may-7-2011/9742-1_53-50104480.html</string>
				<string>http://reviews.cnet.com/digital-camcorders/canon-vixia-hf-g10/4505-6500_7-34468436.html?tag=contentMain;contentBody</string>
			</array>
		</dict>
		<key>Comedy Central</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.comedycentral.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.comedycentral</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.comedycentral.com/videos/index.jhtml?videoId=359185</string>
			</array>
		</dict>
		<key>CTV</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*watch\.(ctv.ca|ctv.ca/news|tsn.ca|discoverychannel.ca|thecomdeynetwork.ca|bravo.ca|bravofact.com|spacecast.com|muchmusic.com|fashiontelevision.com)/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.ctvglobemedia</string>
			<key>TestURLs</key>
			<array>
				<string>http://watch.ctv.ca/canadas-worst-handyman/season-1/canadas-worst-handyman-ep-107-best-of-the-worst/</string>
			</array>
		</dict>
		<key>DOCTYPE</key>
		<dict>
			<key>URLPattern</key>
			<string>http://(www\.)?doctype\.tv/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.youtube</string>
			<key>TestURLs</key>
			<array>
				<string>http://doctype.tv/50</string>
				<string>http://www.doctype.tv/underscore</string>
			</array>
		</dict>
		<key>History Channel</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.history.com/.*#.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.historychannel</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.history.com/shows/swamp-people/videos#swamp-people-full-moon-fever</string>
			</array>
		</dict>
		<key>Hulu</key>
		<dict>
			<key>URLPattern</key>
			<string>.*hulu.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.hulu</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.hulu.com/watch/215794/city-lights?c=Classics</string>
				<string>http://www.hulu.com/watch/93426/100-girls</string>
				<string>http://www.hulu.com/watch/252172/tiger-and-bunny-confidence-is-a-plant-of-slow-growth</string>
			</array>
		</dict>
		<key>MovieSense</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.moviesense.nl/[0-9]{4}/[0-9]{2}/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.blip</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.moviesense.nl/2011/04/red-riding-hood-videoreview/</string>
				<string>http://www.moviesense.nl/2011/05/moviesense-tv-pirates-of-the-caribbean-on-stranger-tides/</string>
			</array>
		</dict>
		<key>NFB</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.nfb.ca/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.nfbonf</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.nfb.ca/film/poets_on_film_no_3/</string>
			</array>
		</dict>
		<key>National Geographic</key>
		<dict>
			<key>URLPattern</key>
			<string>http://video.nationalgeographic.com/video/player/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.nationalgeographic</string>
			<key>TestURLs</key>
			<array>
				<string>http://video.nationalgeographic.com/video/player/news/animals-news/zambia-chimpanzee-death-reaction-vin.html</string>
				<string>http://video.nationalgeographic.com/video/player/movies/wildest-weather/wildest-weather-trailer.html</string>
			</array>
		</dict>
		<key>Revision3</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*revision3\.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.revision3</string>
			<key>TestURLs</key>
			<array>
				<string>http://revision3.com/theyoungturks/trump3</string>
			</array>
		</dict>
		<key>SkyGo</key>
		<dict>
			<key>URLPattern</key>
			<string>http://go.sky.com/vod/content/.*/videoDetailsPage.do</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.skygo</string>
			<key>TestURLs</key>
			<array>
				<string>http://go.sky.com/vod/content/SKYMOVIES/content/videoId/240a2baf2f90e210VgnVCM1000002c04170a________/content/default/videoDetailsPage.do</string>
				<string>http://go.sky.com/vod/content/SKYENTERTAINMENT/Browse_by_Genre/Sci_Fi/content/videoId/ae04ac9b6d93b210VgnVCM1000002c04170a________/content/default/videoDetailsPage.do</string>
				<string>http://go.sky.com/vod/content/SKYSPORTS/content/videoId/a00c69a2a8af0310VgnVCM1000000b43150a________/content/default/videoDetailsPage.do</string>
			</array>
		</dict>
		<key>TED-Talks</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*ted.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.ted</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.ted.com/talks/arvind_gupta_turning_trash_into_toys_for_learning.html</string>
			</array>
		</dict>
		<key>Vimeo</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*vimeo\.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.vimeo</string>
			<key>TestURLs</key>
			<array>
				<string>http://vimeo.com/23864381</string>
				<string>http://vimeo.com/hd#23864381</string>
				<string>http://vimeo.com/staffpicks#24002628</string>
			</array>
		</dict>
		<key>YouTube</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*youtu(be\.com|\.be)/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.youtube</string>
			<key>TestURLs</key>
			<array>
				<string>http://youtu.be/vXhmyyXFd5I</string>
				<string>http://youtube.com/watch?v=vXhmyyXFd5I</string>
				<string>http://www.youtube.com/user/andyverg#p/a/u/0/HTGOoQNYGL4</string>
				<string>http://www.youtube.com/shemarooent#p/u/0/7RzbNiw3rOs</string>
			</array>
		</dict>
		<key>HTML5 Video</key>
		<dict>
		  <key>URLPattern</key>
		  <string>^$</string>
			<key>Fallback</key>
			<true/>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.html5video</string>
			<key>TestURLs</key>
			<array>
				<string>http://videojs.com/</string>
				<string>http://sublimevideo.net/demo</string>
				<string>http://www.macslocum.com/html5-video.html</string>
			</array>
		</dict>
		<key>New York Times</key>
		<dict>
			<key>URLPattern</key>
			<string>http://video.nytimes.com/video/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.thenytimes</string>
			<key>TestURLs</key>
			<array>
				<string>http://video.nytimes.com/video/2011/05/24/multimedia/100000000833684/timescast-benjamin-netanyahus-speech.html</string>
				<string>http://video.nytimes.com/video/2010/09/20/magazine/1248068907356/jelena-jankovic-serbia.html</string>
				<string>http://video.nytimes.com/video/2011/05/26/theater/100000000833871/excerpt-the-best-is-yet-to-come.html</string>
				<string>http://video.nytimes.com/video/2011/02/28/theater/100000000672072/timon.html</string>
			</array>
		</dict>
		<key>VRT</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*(deredactie|ketnet|sporza).be/(permalink|cm/vrtnieuws/mediatheek|cm/ketnet/ketnet-mediaplayer|cm/sporza/videozone)/</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.vrt</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.sporza.be/permalink/1.1068654</string>
				<string>http://video.ketnet.be/cm/ketnet/ketnet-mediaplayer/MG_ketnet/2.15271/1.1001179</string>
				<string>http://www.deredactie.be/cm/vrtnieuws/mediatheek/nieuws/buitenland/1.1068676</string>
				<string>http://www.deredactie.be/permalink/1.1068302</string>
			</array>
		</dict>
		<key>LoveFilm-Player</key>
		<dict>
			<key>URLPattern</key>
			<string>https?://www.lovefilm.com/film/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.lovefilm-player</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.lovefilm.com/film/Mad-Men-Series-04-Episode-01-Public-Relations/155407/</string>
				<string>http://www.lovefilm.com/film/Collateral/32051/</string>
				<string>http://www.lovefilm.com/film/Peep-Show-Series-01-Episode-01/132037/</string>
			</array>
		</dict>
		<key>Pitchfork-TV</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.pitchfork.com/tv/(#|a/player)?</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.pitchforktv</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.pitchfork.com/tv/#/music-videos/1708-bon-iver/2741-calgary/</string>
				<string>http://www.pitchfork.com/tv/special-presentation/1710-james-blake/2751-primavera-sound-2011/</string>
			</array>
		</dict>
		<key>Freecaster-TV</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*freecaster.tv/.*/[0-9]+/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.freecaster</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.freecaster.tv/fmx/1016664/thats-the-way-dany-torres-trailer</string>
				<string>http://www.freecaster.tv/bmx/1016800/cbr-trip-bonus</string>
				<string>http://www.freecaster.tv/blog/kayak/414/international-whitewater-elite-to-meet-for-5th-adidas-sickline-kayak-world-champs</string>
			</array>
		</dict>
		<key>MPORA</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*video.mpora.com/\w+/</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.mpora</string>
			<key>TestURLs</key>
			<array>
				<string>http://video.mpora.com/watch/yjx2DHJNf/</string>
				<string>http://video.mpora.com/watch/GXCVmDiBL/</string>
			</array>
		</dict>
	</dict>
	<key>PlexSearchServices</key>
	<dict>
		<key>VideoSurf</key>
		<string>com.plexapp.search.videosurf</string>
	</dict>
</dict>
</plist>
