<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.system.services</string>
	<key>PlexPluginClass</key>
	<string>System</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexURLServices</key>
	<dict>
		<key>4oD</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.channel4.com/programmes/.*/(4od(/?#|/player/)([0-9]{7})|episode-guide/series.*/episode.*)</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.4oD</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.channel4.com/programmes/black-books/4od#3110813</string>
				<string>http://www.channel4.com/programmes/black-books/4od/player/3110813</string>
				<string>http://www.channel4.com/programmes/black-books/episode-guide/series-1/episode-1</string>
			</array>
		</dict>
		<key>Adobe TV</key>
		<dict>
			<key>URLPattern</key>
			<string>http://tv.adobe.com/watch/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.adobetv</string>
		</dict>
		<key>Blip.tv</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*blip\.tv/(((file|play)/([A-Za-z0-9]){7,11}(\.html)?)|([^/]+/.+\-([0-9]{7})))</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.blip</string>
		</dict>
		<key>Vimeo</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*vimeo\.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.vimeo</string>
            <key>TestURLs</key>
            <array>
                <string>http://vimeo.com/23864381</string>
                <string>http://vimeo.com/hd#23864381</string>
                <string>http://vimeo.com/staffpicks#24002628</string>
            </array>
		</dict>
		<key>YouTube</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*youtu(be\.com|\.be)/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.youtube</string>
			<key>TestURLs</key>
			<array>
				<string>http://youtu.be/vXhmyyXFd5I</string>
				<string>http://youtube.com/watch?v=vXhmyyXFd5I</string>
				<string>http://www.youtube.com/user/andyverg#p/a/u/0/HTGOoQNYGL4</string>
			</array>
		</dict>
		<key>CNET</key>
		<dict>
			<key>URLPattern</key>
			<string>http://(cnettv|reviews).cnet.com/.*/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.cnettv</string>
			<key>TestURLs</key>
			<array>
				<string>http://cnettv.cnet.com/kodak-playfull/9742-1_53-50104479.html</string>
				<string>http://cnettv.cnet.com/may-7-2011/9742-1_53-50104480.html</string>
				<string>http://reviews.cnet.com/digital-camcorders/canon-vixia-hf-g10/4505-6500_7-34468436.html?tag=contentMain;contentBody</string>
			</array>
		</dict>
		<key>TED-Talks</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*ted.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.ted</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.ted.com/talks/arvind_gupta_turning_trash_into_toys_for_learning.html</string>
			</array>
		</dict>
		<key>Revision3</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*revision3\.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.revision3</string>
			<key>TestURLs</key>
			<array>
				<string>http://revision3.com/theyoungturks/trump3</string>
			</array>
		</dict>
		<key>CTV</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*watch\.(ctv.ca|ctv.ca/news|tsn.ca|discoverychannel.ca|thecomdeynetwork.ca|bravo.ca|bravofact.com|spacecast.com|muchmusic.com|fashiontelevision.com)/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.ctvglobemedia</string>
			<key>TestURLs</key>
			<array>
				<string>http://watch.ctv.ca/the-big-bang-theory/season-4/the-big-bang-theory-ep-422-the-wildebeest-implementation/</string>
			</array>
		</dict>
		<key>NFB</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.nfb.ca/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.nfbonf</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.nfb.ca/film/poets_on_film_no_3/</string>
			</array>
		</dict>
	</dict>
	<key>HTML5 Video</key>
	<dict>
		<key>Fallback</key>
		<true/>
		<key>Identifier</key>
		<string>com.plexapp.plugins.html5video</string>
	        <key>TestURLs</key>
	        <array>
	            <string>http://videojs.com/</string>
	            <string>http://sublimevideo.net/demo</string>
	            <string>http://www.macslocum.com/html5-video.html</string>
	        </array>
	</dict>
	<key>PlexSearchServices</key>
	<dict>
		<key>VideoSurf</key>
		<string>com.plexapp.search.videosurf</string>
	</dict>
</dict>
</plist>
