<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.system.services</string>
	<key>PlexPluginClass</key>
	<string>System</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexURLServices</key>
	<dict>
		<key>4oD</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.channel4.com/programmes/.*/(4od(/?#|/player/)([0-9]{7})|episode-guide/series.*/episode.*)</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.4oD</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.channel4.com/programmes/black-books/4od#3110813</string>
				<string>http://www.channel4.com/programmes/black-books/4od/player/3110813</string>
				<string>http://www.channel4.com/programmes/black-books/episode-guide/series-1/episode-1</string>
			</array>
		</dict>
		<key>ABC</key>
		<dict>
			<key>URLPattern</key>
			<string>http://abc.go.com/watch/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.abc</string>
			<key>TestURLs</key>
			<array>
				<string>http://abc.go.com/watch/modern-family/SH559066/VD55112307/princess-party</string>
			</array>
		</dict>
		<key>ABCFamily</key>
		<dict>
			<key>URLPattern</key>
			<string>http://abcfamily.go.com/watch/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.abcfamily</string>
			<key>TestURLs</key>
			<array>
				<string>http://abcfamily.go.com/watch/make-it-break-it/SH5547473/VD55127766/what-lies-beneath</string>
			</array>
		</dict>
		<key>Adobe TV</key>
		<dict>
			<key>URLPattern</key>
			<string>http://tv.adobe.com/watch/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.adobetv</string>
			<key>TestURLs</key>
			<array>
				<string>http://tv.adobe.com/watch/adobe-beginner-classes-with-dennis-radeke/episode-1-intro-to-after-effects-soundbooth-and-adobe-premiere-pro/</string>
			</array>
		</dict>
		<key>Apple Movie Trailers</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*apple\.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.amt</string>
			<key>TestURLs</key>
			<array>
				<string>http://trailers.apple.com/trailers/wb/greenlantern</string>
				<string>http://trailers.apple.com/trailers/sony_pictures/priest</string>
			</array>
		</dict>
		<key>arbejdsglaedeTV</key>
		<dict>
			<key>URLPattern</key>
			<string>http://arbejdsglaede.23video.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.arbejdsglaedeTV</string>
			<key>TestURLs</key>
			<array>
				<string>http://arbejdsglaede.23video.com/video/549744/srikumar-s-rao-p-arbejdsglde</string>
			</array>
		</dict>
		<key>Ask A Ninja</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.askaninja.com/video/[0-9]+-.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.askaninja</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.askaninja.com/video/11728985-ninja-movie-show-06-26-11</string>
				<string>http://www.askaninja.com/video/10993619-ask-a-ninja-06-14-11-marriage</string>
			</array>
		</dict>
		<key>Automated Home</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.automatedhome.co.uk/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.automatedhome</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.automatedhome.co.uk/New-Products/Phantom-Bluetooth-Keyless-Home-Entry-System.html</string>
			</array>
		</dict>
		<key>BBC iPlayer</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www\.bbc\.co\.uk/iplayer/episode/[^/$]{8}</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.iplayer</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.bbc.co.uk/iplayer/episode/b012m668/Top_Gear_Series_17_Episode_3/</string>
				<string>http://www.bbc.co.uk/iplayer/episode/b012g0gm/The_Apprentice_Series_7_The_Final_Five/</string>
			</array>
		</dict>
		<key>Blinkbox</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.blinkbox.com(/Free)?/((TV|Television)|Movie(s)?)/[0-9]+/</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.blinkbox</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.blinkbox.com/Movies/36415/Hall-Pass</string>
				<string>http://www.blinkbox.com/TV/29441/Chuck-S01E01-The-Pilot</string>
				<string>http://www.blinkbox.com/Free/Movie/35872/Solidbodies-the-50-Year-Guitar-War</string>
			</array>
		</dict>
		<key>Blip.tv</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*blip\.tv/(((file|play)/([A-Za-z0-9]){7,11}(\.html)?)|([^/]+/.+\-([0-9]{7})))</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.blip</string>
			<key>TestURLs</key>
			<array>
				<string>http://blip.tv/file/5205726</string>
				<string>http://blip.tv/play/hp9ggrvEfAI</string>
				<string>http://blip.tv/moviesense/michael-madsen-interview-part-1-5255959</string>
			</array>
		</dict>
		<key>Break.com</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.break.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.breakcom</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.break.com/break-university/didgeridoo-techno-2074240/</string>
				<string>http://www.break.com/movie-trailers/arena-trailer-2090042</string>
				<string>http://www.break.com/index/powerful-110-roman-candle-cannon.html</string>
			</array>
		</dict>
		<key>CBS</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*\.cbs\.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.cbs</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.cbs.com/classics/happy_days/video/?pid=OixgE7X9sBOoNl4xzBUaQadJmP1ehFns</string>
				<string>http://www.cbs.com/classics/macgyver/video/?pid=3aeNTd3RxmXTF9qQd4Z88RZh9BVcnxow</string>
			</array>
		</dict>
		<key>Comedy Central</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.comedycentral.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.comedycentral</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.comedycentral.com/videos/index.jhtml?videoId=359185</string>
			</array>
		</dict>
		<key>CNET</key>
		<dict>
			<key>URLPattern</key>
			<string>http://(cnettv|reviews).cnet.com/.*/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.cnettv</string>
			<key>TestURLs</key>
			<array>
				<string>http://cnettv.cnet.com/kodak-playfull/9742-1_53-50104479.html</string>
				<string>http://cnettv.cnet.com/may-7-2011/9742-1_53-50104480.html</string>
				<string>http://reviews.cnet.com/digital-camcorders/canon-vixia-hf-g10/4505-6500_7-34468436.html?tag=contentMain;contentBody</string>
			</array>
		</dict>
		<key>CNN-News</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.cnn.com/video/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.cnn</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.cnn.com/video/#/video/bestoftv/2011/07/26/exp.tsr.todd.citizen.outrage.cnn</string>
			</array>
		</dict>
		<key>CTV</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*watch\.(ctv.ca|ctv.ca/news|tsn.ca|discoverychannel.ca|thecomdeynetwork.ca|bravo.ca|bravofact.com|spacecast.com|muchmusic.com|fashiontelevision.com)/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.ctvglobemedia</string>
			<key>TestURLs</key>
			<array>
				<string>http://watch.ctv.ca/canadas-worst-handyman/season-1/canadas-worst-handyman-ep-107-best-of-the-worst/</string>
			</array>
		</dict>
		<key>DOCTYPE</key>
		<dict>
			<key>URLPattern</key>
			<string>http://(www\.)?doctype\.tv/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.youtube</string>
			<key>TestURLs</key>
			<array>
				<string>http://doctype.tv/50</string>
				<string>http://www.doctype.tv/underscore</string>
			</array>
		</dict>
		<key>Euronews</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.euronews.net/nocomment/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.euronews</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.euronews.net/nocomment/2011/07/28/kosovo-border-post-on-fire/</string>
				<string>http://www.euronews.net/nocomment/2011/07/27/yoga-classes-for-dogs-in-hong-kong/</string>
			</array>
		</dict>
		<key>Fox-News</key>
		<dict>
			<key>URLPattern</key>
			<string>http://video.foxnews.com(/#)?/v/[0-9]+/.*/?playlist_id=[0-9]+</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.foxnews</string>
			<key>TestURLs</key>
			<array>
				<string>http://video.foxnews.com/#/v/1087515397001/fabio-sends-hearts-racing-on-red-eye/?playlist_id=87485</string>
				<string>http://video.foxnews.com/v/1084986724001/us-debt-crisis-the-world-is-watching/?playlist_id=86857</string>
			</array>
		</dict>
		<key>Freecaster-TV</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*freecaster.tv/.*/[0-9]+/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.freecaster</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.freecaster.tv/fmx/1016664/thats-the-way-dany-torres-trailer</string>
				<string>http://www.freecaster.tv/bmx/1016800/cbr-trip-bonus</string>
				<string>http://www.freecaster.tv/blog/kayak/414/international-whitewater-elite-to-meet-for-5th-adidas-sickline-kayak-world-champs</string>
			</array>
		</dict>
		<key>FunnyOrDie</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.funnyordie.com/videos/[^/].*/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.funnyordie</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.funnyordie.com/videos/ed64755ab1/her-first-period?playlist=featured_videos</string>
				<string>http://www.funnyordie.com/videos/37627e30b8/swords-from-middlekid-josh-simpson-brad-and-scott-rodgers</string>
			</array>
		</dict>
		<key>G4TV</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*.g4tv.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.g4tv</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.g4tv.com/videos/54455/twisted-metal-gameplay-preview/?quality=hd</string>
				<string>http://www.g4tv.com/thefeed/blog/post/714853/gaming-through-history-sesslers-soapbox/</string>
				<string>http://g4tv.com/videos/44277/dice-2010-design-outside-the-box-presentation/</string>
			</array>
		</dict>
		<key>History Channel</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.history.com/.*#.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.historychannel</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.history.com/shows/swamp-people/videos#swamp-people-full-moon-fever</string>
			</array>
		</dict>
		<key>Hulu</key>
		<dict>
			<key>URLPattern</key>
			<string>.*hulu.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.hulu</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.hulu.com/watch/215794/city-lights?c=Classics</string>
				<string>http://www.hulu.com/watch/93426/100-girls</string>
				<string>http://www.hulu.com/watch/252172/tiger-and-bunny-confidence-is-a-plant-of-slow-growth</string>
			</array>
		</dict>
		<key>iMovies</key>
		<dict>
			<key>URLPattern</key>
			<string>http://drivein.awardspace.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.imovies</string>
			<key>TestURLs</key>
			<array>
				<string>http://drivein.awardspace.com/beneath-the-12-mile-reef-1953.html</string>
			</array>
		</dict>
		<key>KhanAcademy</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.khanacademy.org/video/.*?playlist=.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.khanacademy</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.khanacademy.org/video/complex-numbers--part-1?playlist=Algebra</string>
				<string>http://www.khanacademy.org/video/stoichiometry?playlist=Chemistry</string>
			</array>
		</dict>
		<key>LoveFilm-Player</key>
		<dict>
			<key>URLPattern</key>
			<string>https?://www.lovefilm.com/film/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.lovefilm-player</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.lovefilm.com/film/Mad-Men-Series-04-Episode-01-Public-Relations/155407/</string>
				<string>http://www.lovefilm.com/film/Collateral/32051/</string>
				<string>http://www.lovefilm.com/film/Peep-Show-Series-01-Episode-01/132037/</string>
			</array>
		</dict>
		<key>MovieSense</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.moviesense.nl/[0-9]{4}/[0-9]{2}/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.blip</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.moviesense.nl/2011/04/red-riding-hood-videoreview/</string>
				<string>http://www.moviesense.nl/2011/05/moviesense-tv-pirates-of-the-caribbean-on-stranger-tides/</string>
			</array>
		</dict>
		<key>MPORA</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*video.mpora.com/\w+/</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.mpora</string>
			<key>TestURLs</key>
			<array>
				<string>http://video.mpora.com/watch/yjx2DHJNf/</string>
				<string>http://video.mpora.com/watch/GXCVmDiBL/</string>
			</array>
		</dict>
		<key>National Geographic</key>
		<dict>
			<key>URLPattern</key>
			<string>http://video.nationalgeographic.com/video/player/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.nationalgeographic</string>
			<key>TestURLs</key>
			<array>
				<string>http://video.nationalgeographic.com/video/player/news/animals-news/zambia-chimpanzee-death-reaction-vin.html</string>
				<string>http://video.nationalgeographic.com/video/player/movies/wildest-weather/wildest-weather-trailer.html</string>
			</array>
		</dict>
		<key>NBC</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*nbc.com/.*/video/(?!/categories).*/[0-9]+/</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.nbc</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.nbc.com/chuck/video/chuck-vs-the-cliffhanger/1327691/</string>
				<string>http://www.nbc.com/chuck/video/morgan-versus-the-intersect-comic-con-exclusive/1342639/</string>
				<string>http://www.nbc.com/classic-tv/battlestar-galactica/video/conquest-of-the-earth/258120/</string>
			</array>
		</dict>
		<key>New York Times</key>
		<dict>
			<key>URLPattern</key>
			<string>http://video.nytimes.com/video/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.thenytimes</string>
			<key>TestURLs</key>
			<array>
				<string>http://video.nytimes.com/video/2011/05/24/multimedia/100000000833684/timescast-benjamin-netanyahus-speech.html</string>
				<string>http://video.nytimes.com/video/2010/09/20/magazine/1248068907356/jelena-jankovic-serbia.html</string>
				<string>http://video.nytimes.com/video/2011/05/26/theater/100000000833871/excerpt-the-best-is-yet-to-come.html</string>
				<string>http://video.nytimes.com/video/2011/02/28/theater/100000000672072/timon.html</string>
			</array>
		</dict>
		<key>NFB</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.nfb.ca/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.nfbonf</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.nfb.ca/film/poets_on_film_no_3/</string>
			</array>
		</dict>
		<key>NME</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.nme.com/nme-video/.*/[0-9]+</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.nme</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.nme.com/nme-video/the-drums---money/1078341943001</string>
				<string>http://www.nme.com/nme-video/lucy-rose---middle-of-the-bed/1079539343001</string>
			</array>
		</dict>
		<key>Pitchfork-TV</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.pitchfork.com/tv/(#|a/player)?</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.pitchforktv</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.pitchfork.com/tv/#/music-videos/1708-bon-iver/2741-calgary/</string>
				<string>http://www.pitchfork.com/tv/special-presentation/1710-james-blake/2751-primavera-sound-2011/</string>
			</array>
		</dict>
		<key>PokerstarsTV</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.pokerstars.tv/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.pokerstarstv</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.pokerstars.tv/poker-video-10036-too-hot-for-tv-big-game-2-week-5.html</string>
				<string>http://www.pokerstars.tv/poker-video-9988-online-poker-show-sunday-million-july-24th-2011.html</string>
			</array>
		</dict>
		<key>Revision3</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*revision3\.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.revision3</string>
			<key>TestURLs</key>
			<array>
				<string>http://revision3.com/theyoungturks/trump3</string>
			</array>
		</dict>
		<key>SkyGo</key>
		<dict>
			<key>URLPattern</key>
			<string>http://go.sky.com/vod/content/.*/videoDetailsPage.do</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.skyplayer</string>
			<key>TestURLs</key>
			<array>
				<string>http://go.sky.com/vod/content/SKYMOVIES/content/videoId/240a2baf2f90e210VgnVCM1000002c04170a________/content/default/videoDetailsPage.do</string>
				<string>http://go.sky.com/vod/content/SKYENTERTAINMENT/Browse_by_Genre/Sci_Fi/content/videoId/ae04ac9b6d93b210VgnVCM1000002c04170a________/content/default/videoDetailsPage.do</string>
				<string>http://go.sky.com/vod/content/SKYSPORTS/content/videoId/a00c69a2a8af0310VgnVCM1000000b43150a________/content/default/videoDetailsPage.do</string>
			</array>
		</dict>
		<key>SlowTV</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.themonthly.com.au/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.slowtv</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.themonthly.com.au/origin-universe-and-arrow-time-sean-carroll-p2-2195</string>
			</array>
		</dict>
		<key>Snag Films</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.snagfilms.com/films/title/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.snagfilms</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.snagfilms.com/films/title/inside_islam_what_a_billion_muslims_really_think/</string>
				<string>http://www.snagfilms.com/films/title/guns_n_roses_destructive_appetite/</string>
			</array>
		</dict>
		<key>Stuff-TV</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.stuff.tv/video/(vidcasts|reviews)/</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.stufftv</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.stuff.tv/video/reviews/hp-touchpad-video-review</string>
				<string>http://www.stuff.tv/video/vidcasts/best-festival-kit</string>
			</array>
		</dict>
		<key>TED-Talks</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*ted.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.ted</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.ted.com/talks/arvind_gupta_turning_trash_into_toys_for_learning.html</string>
				<string>http://www.ted.com/talks/jeremy_rifkin_on_the_empathic_civilization.html</string>
				<string>http://www.ted.com/talks/jk_rowling_the_fringe_benefits_of_failure.html</string>
				<string>http://www.ted.com/talks/sean_carroll_on_the_arrow_of_time_part_2.html</string>
			</array>
		</dict>
		<key>The Colbert Report</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.colbertnation.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.thecolbertreport</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.colbertnation.com/the-colbert-report-videos/393167/july-26-2011/herman-cain-cancels</string>
				<string>http://www.colbertnation.com/full-episodes/wed-july-27-2011-missy-cummings</string>
			</array>
		</dict>
		<key>The Daily Show</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.thedailyshow.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.thedailyshow</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.thedailyshow.com/full-episodes/tue-july-26-2011-juan-williams</string>
				<string>http://www.thedailyshow.com/watch/tue-july-26-2011/armadebtdon-2011---call-congress</string>
			</array>
		</dict>
		<key>The Onion</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.theonion.com/video/.*,[0-9]+/</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.theonion</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.theonion.com/video/escort-reveals-affair-with-that-actor-from-that-th,21057/</string>
				<string>http://www.theonion.com/video/new-apple-friend-bar-gives-customers-someone-to-ta,17693/</string>
			</array>
		</dict>
		<key>Trailer Addict</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.traileraddict.com/trailer/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.traileraddict</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.traileraddict.com/trailer/red-tails/trailer</string>
				<string>http://www.traileraddict.com/trailer/tucker-dale-vs-evil/red-band-trailer</string>
			</array>
		</dict>
		<key>Universal Sports</key>
		<dict>
			<key>URLPattern</key>
			<string>http://www.universalsports.com/video/assetid=.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.universalsports</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.universalsports.com/video/assetid=ead4b8a0-e2ea-4705-9a30-47b1e8e8903d.html#excitement+personified+missy+franklin+worlds</string>
				<string>http://www.universalsports.com/video/assetid=e95bbeaa-1be9-425f-b341-77552c767b80.html#2011+diamond+league+stockholm+usain+bolt+wins+200m</string>
			</array>
		</dict>
		<key>Vimeo</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*vimeo\.com/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.vimeo</string>
			<key>TestURLs</key>
			<array>
				<string>http://vimeo.com/23864381</string>
				<string>http://vimeo.com/hd#23864381</string>
				<string>http://vimeo.com/staffpicks#24002628</string>
			</array>
		</dict>
		<key>VRT</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*(deredactie|ketnet|sporza).be/(permalink|cm/vrtnieuws/mediatheek|cm/ketnet/ketnet-mediaplayer|cm/sporza/videozone)/</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.vrt</string>
			<key>TestURLs</key>
			<array>
				<string>http://www.sporza.be/permalink/1.1068654</string>
				<string>http://video.ketnet.be/cm/ketnet/ketnet-mediaplayer/MG_ketnet/2.15271/1.1001179</string>
				<string>http://www.deredactie.be/cm/vrtnieuws/mediatheek/nieuws/buitenland/1.1068676</string>
				<string>http://www.deredactie.be/permalink/1.1068302</string>
			</array>
		</dict>
		<key>YouTube</key>
		<dict>
			<key>URLPattern</key>
			<string>http://.*youtu(be\.com|\.be)/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.youtube</string>
			<key>TestURLs</key>
			<array>
				<string>http://youtu.be/vXhmyyXFd5I</string>
				<string>http://youtube.com/watch?v=vXhmyyXFd5I</string>
				<string>http://www.youtube.com/user/andyverg#p/a/u/0/HTGOoQNYGL4</string>
				<string>http://www.youtube.com/shemarooent#p/u/0/7RzbNiw3rOs</string>
			</array>
		</dict>
		<key>Vimcasts</key>
		<dict>
			<key>URLPattern</key>
			<string>http://vimcasts.org/episodes/.*</string>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.vimcasts</string>
			<key>TestURLs</key>
			<array>
				<string>http://vimcasts.org/episodes/fugitive-vim-exploring-the-history-of-a-git-repository/</string>
				<string>http://vimcasts.org/episodes/show-invisibles/</string>
			</array>
		</dict>
		<key>HTML5 Video</key>
		<dict>
			<key>URLPattern</key>
			<string>^$</string>
			<key>Fallback</key>
			<true/>
			<key>LinkedPlugin</key>
			<string>com.plexapp.plugins.html5video</string>
			<key>TestURLs</key>
			<array>
				<string>http://videojs.com/</string>
				<string>http://sublimevideo.net/demo</string>
				<string>http://www.macslocum.com/html5-video.html</string>
			</array>
		</dict>
	</dict>
	<key>PlexSearchServices</key>
	<dict>
		<key>VideoSurf</key>
		<string>com.plexapp.search.videosurf</string>
	</dict>
</dict>
</plist>
