<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Search</key>
		<dict>
			<key>GolfChannel</key>
			<dict/>                                                   -> Empty dictionary, for future use
		</dict>
		<key>URL</key>
		<dict>
			<key>GolfChannel</key>
			<dict>
				<key>URLPatterns</key>
				<array>
					<string>http://(www\.)?golfchannel\.com/.*</string>
				</array>
				<key>TestURLs</key>
				<array>
					<string>http://www.golfchannel.com/media/winsday-grey-goose-september-7-2011/</string>
				</array>
			</dict>
		</dict>
	</dict>
</plist>